
html {
  max-height: 100%;
  max-width: 100%;
  background-color: black
}

header {
  width: 100%;
  height: 10%;

}

h1 {
  text-align: center;
  color: grey;
}

h3 {
    color: grey;
}

.log {
  color: white;
}

p {
  text-indent: 2em;
}
